<div class="skillbar clearfix " data-percent="100%">
		<div class="skillbar-title" style="background: #d35400;"><span>HTML5</span></div>
		<div class="skillbar-bar" style="background: #e67e22;"></div>
		<div class="skill-bar-percent Count">100</div>
	</div> <!-- End Skill Bar -->
	
	<div class="skillbar clearfix " data-percent="100%">
		<div class="skillbar-title" style="background: #2980b9;"><span>CSS3</span></div>
		<div class="skillbar-bar" style="background: #3498db;"></div>
		<div class="skill-bar-percent Count">100</div>
	</div> <!-- End Skill Bar -->
	
	<div class="skillbar clearfix " data-percent="100%">
		<div class="skillbar-title" style="background: #2c3e50;"><span>jQuery</span></div>
		<div class="skillbar-bar" style="background: #2c3e50;"></div>
		<div class="skill-bar-percent Count">100</div>
	</div> <!-- End Skill Bar -->
	
	<div class="skillbar clearfix " data-percent="100%">
		<div class="skillbar-title" style="background: #46465e;"><span>Spring</span></div>
		<div class="skillbar-bar" style="background: #5a68a5;"></div>
		<div class="skill-bar-percent Count">100</div>
	</div> <!-- End Skill Bar -->
	<div class="skillbar clearfix " data-percent="100%">
            <div class="skillbar-title" style="background: #10584c;"><span>Bootstrap</span></div>
            <div class="skillbar-bar" style="background: #1cd1c2;"></div>
            <div class="skill-bar-percent Count">100</div>
        </div> <!-- End Skill Bar -->
        
        <div class="skillbar clearfix " data-percent="100%">
            <div class="skillbar-title" style="background: #968e24;"><span>Devops</span></div>
            <div class="skillbar-bar" style="background: #ddec00;"></div>
            <div class="skill-bar-percent Count">100</div>
