<div class="bg">
    <nav class="navbar navbar-inverse">
        <app-userheader></app-userheader> 
        <div>
            <ul class="nav nav-pills nav-justified">
                <li ><a routerLink="/adminuser">User</a></li>
                <li ><a routerLink="/admintrainer">Trainer</a></li>
                <li class="active"><a routerLink="/technology">Technology</a></li>
            </ul>
        </div>
 </nav>
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
                  <ul class="nav nav-pills nav-justified">        
                          <li align="center"><h3 style="color: beige">Remove Technology</h3></li>
                  </ul>
          </div>
        </div>
</nav>
    <!-- <nav class="navbar navbar-inverse">
            <div class="container-fluid" style="background-color: rgb(2, 5, 56)">
                    <div class="navbar-header">
                            <ul class="nav nav-pills nav-justified">
                                    <li><h3 style="color: beige">Technology Name</h3></li>
                                    <li><h3 style="color: beige">Add Technology</h3></li>
                                    <li><h3 style="color: beige">Edit Technology</h3></li>
                                    <li><h3 style="color: beige">Remove Technology</h3></li>
                                   
                            </ul>
                    </div>
            </div>
          <div class="container-fluid" style="background-color: rgb(162, 223, 231)">
            <div class="navbar-header">
                    <ul class="nav nav-pills nav-justified">
                            <li><h3 style="color: black">HTML 5</h3></li>
                            <li> <button type="submit" class="btn btn-danger navbar-btn" id="search" data-toggle="modal" data-target="#myModal">Add</button></li>
                            <li> <button type="submit" class="btn btn-danger navbar-btn" id="search" data-toggle="modal" data-target="#myModal">Edit</button></li>
                            <li> <button type="submit" class="btn btn-danger navbar-btn" id="search" data-toggle="modal" data-target="#myModal">Remove</button></li></ul>
                    
                    <ul class="nav nav-pills nav-justified">
                            <li><h3 style="color: black">Spring</h3></li>
                            <li> <button type="submit" class="btn btn-danger navbar-btn" id="search" data-toggle="modal" data-target="#myModal">Add</button></li>
                            <li> <button type="submit" class="btn btn-danger navbar-btn" id="search" data-toggle="modal" data-target="#myModal">Edit</button></li>
                            <li> <button type="submit" class="btn btn-danger navbar-btn" id="search" data-toggle="modal" data-target="#myModal">Remove</button></li></ul>
                    <ul class="nav nav-pills nav-justified">
                            <li><h3 style="color: black">Python</h3></li>
                            <li> <button type="submit" class="btn btn-danger navbar-btn" id="search" data-toggle="modal" data-target="#myModal">Add</button></li>
                            <li> <button type="submit" class="btn btn-danger navbar-btn" id="search" data-toggle="modal" data-target="#myModal">Edit</button></li>
                            <li> <button type="submit" class="btn btn-danger navbar-btn" id="search" data-toggle="modal" data-target="#myModal">Remove</button></li></ul>
                    <ul class="nav nav-pills nav-justified">
                            <li><h3 style="color: black">jQuery</h3></li>
                            <li> <button type="submit" class="btn btn-danger navbar-btn" id="search" >Add</button></li>
                            <li> <button type="submit" class="btn btn-danger navbar-btn" id="search" >Edit</button></li>
                            <li> <button type="submit" class="btn btn-danger navbar-btn" id="search" >Remove</button></li></ul>
                    <ul class="nav nav-pills nav-justified">
                            <li><h3 style="color: black">React</h3></li>
                            <li> <button type="submit" class="btn btn-danger navbar-btn" id="search" >Add</button></li>
                            <li> <button type="submit" class="btn btn-danger navbar-btn" id="search" >Edit</button></li>
                            <li> <button type="submit" class="btn btn-danger navbar-btn" id="search" >Remove</button></li></ul>
                    <ul class="nav nav-pills nav-justified">
                            <li><h3 style="color: black">C/Cpp</h3></li>
                            <li> <button type="submit" class="btn btn-danger navbar-btn" id="search" >Add</button></li>
                            <li> <button type="submit" class="btn btn-danger navbar-btn" id="search" >Edit</button></li>
                            <li> <button type="submit" class="btn btn-danger navbar-btn" id="search" >Remove</button></li></ul>                         
            </div>
          </div>
        </nav> -->



        <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card bg-dark my-5">
                      <div class="card-body">
                        <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
                        <ul class="text-center list-inline py-3">
                
                          <li class="list-inline-item"><a routerLink="/techadd" class="btn btn-info">Add Technology</a></li>
                        </ul>
                      </div>
                    </div>
                    <router-outlet></router-outlet>
                  </div>
                </div>
              </div>



              <div class="container">
                <div class="card my-5">
                        <div class="card-body">
                          <table class="table table-hover" id="myTable" height="100"  style="background-color: rgb(226, 219, 123)"  >
                            <thead class="thead-dark">
                              <tr style="background-color: crimson">
                                <th>Technology ID</th>
                                <th>Technology Name</th>
                                <th>Technology Version</th> 
                                <th>Remove</th>
                      
                            </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let one of users">
                                <td>{{ one.techId }}</td>
                                <td>{{ one.techName }}</td>
                        
                                <td>{{ one.version }}</td>               
                                <td><form ><button  class="btn btn-danger navbar-btn"(click)="deleteUser(one.techId)" data-toggle="modal" data-target="#myModal">Remove</button></form>
                  
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div></div>
        <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Successful!!</h4>
                    </div>
                    <div class="modal-body">
                      <p>Changes Successfull</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  </div>
                  </div>
     </div>   