
  .bg {
    /* The image used */
    background-image: url("../../assets/images/traine.jpg");
  
    /* Full height */
    height: 658px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .welcome{
    font-size: 200px;
    padding-top: 300px;
    margin-left:24%; 
    align-content: center;
    font-family: Verdana, Geneva, sans-serif;
  }