<div class="bg">
<nav class="navbar navbar-inverse">
        <app-trainerheader></app-trainerheader> 
        <div style="background-color: darkkhaki">
                
                <ul class="nav nav-pills nav-justified">
                
                <li><a routerLink="/trainercurrent">Current Training</a></li>
                <li><a routerLink="/trainercompleted">Trainings Completed</a></li>
                <li ><a routerLink="/editskills">Edit Skills</a></li>
              </ul>
            </div>
       
 </nav>
 <div class="welcome"><h1>Welcome</h1></div>
</div>

 
   
