
<app-messageheader></app-messageheader>
<div class="bg">
    <!-- <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> -->
<div class="logo"></div>
<div class="login-block">
    <h1>Admin Login</h1>
   <form> <input type="email"required value="" placeholder="email" id="username" />
    <input type="password"required value="" placeholder="Password" id="password"  />
    <button a routerLink="/adminuser">Submit</button>
    </form>
</div>
</div>
