<div class="bg">
<app-messageheader></app-messageheader>
<div class="container mt-5">
        <div class="title">
          <h3>Notifications</h3>
        </div>
    </div>
    <div class="alert alert-info">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">account_circle</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            <b>Spring --> User Proposed For a Training </b><a href=""><h6>ACCEPT</h6></a>
        </div>
    </div>
    <div class="alert alert-success">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">account_circle</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            <b>Angular JS --> User Proposed For a Training </b><a href=""><h6>ACCEPT</h6></a>
        </div>
    </div>
    <div class="alert alert-warning">
         <div class="container">
             <div class="alert-icon">
                <i class="material-icons">account_circle</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            <b>Java --> User Proposed For a Training </b><a href=""><h6>ACCEPT</h6></a>
        </div>
    </div>
    <div class="alert alert-danger">
         <div class="container">
             <div class="alert-icon">
                <i class="material-icons">account_circle</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            <b>HTML5 --> User Proposed For a Training </b><a href=""><h6>ACCEPT</h6></a>
        </div>
    </div>
    <div class="alert alert-primary">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">account_circle</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            <b>CSS 3 --> User Proposed For a Training </b><a href=""><h6>ACCEPT</h6></a>
        </div>
    </div>
</div>    

