<nav class="bg">
<app-messageheader></app-messageheader>
<div class="container mt-5">
        <div class="title">
          <h3>Notifications</h3>
        </div>
    </div>
    <div class="alert alert-info">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">account_circle</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            <b><h6 style="color: chartreuse">ACCEPTED <button type="button" routerLink="/pay">Pay</button></h6>Spring --> Training Request has been accepted by Trainer. </b>

        </div>
    </div>
    <div class="alert alert-success">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">account_circle</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            <b><h6 style="color: red">REJECTED</h6>NODE JS --> Training Request has been accepted by Trainer. </b>
        </div>
    </div>
    <div class="alert alert-warning">
         <div class="container">
             <div class="alert-icon">
                <i class="material-icons">account_circle</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            <b><h6 style="color: red">REJECTED</h6>JAVA --> Training Request has been accepted by Trainer. </b>
        </div>
    </div>
    <div class="alert alert-danger">
         <div class="container">
             <div class="alert-icon">
                <i class="material-icons">account_circle</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            <b><h6 style="color: chartreuse">ACCEPTED <button type="button" routerLink="/pay">Pay</button></h6>Angular JS --> Training Request has been accepted by Trainer. </b>
        </div>
    </div>
    <div class="alert alert-primary">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">account_circle</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            <b><h6 style="color:red">REJECTED</h6>Spring --> Training Request has been accepted by Trainer. </b>
        </div>
    </div>
</nav>    