<nav class="bg">
    <nav class="navbar navbar-inverse">
       <app-userheader></app-userheader> 
    <div>  
    <ul class="nav nav-pills nav-justified">
    <li ><a routerLink="/userlaunch">Search Trainings</a></li>
    <li class="active"><a routerLink="/current">Current Training</a></li>
    <li><a routerLink="/completed">Trainings Completed</a></li>
    </ul>
    </div>
</nav>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
              <ul class="nav nav-pills nav-justified">        
                      <li align="center"><h3 style="color: beige">Training In Progress</h3></li>
              </ul>
      </div>
    </div>
</nav>    
<div class="card my-5">
  <div class="card-body">
    <table class="table table-hover" id="myTable" height="100"  style="background-color: rgb(226, 219, 123)"  >
      <thead class="thead-dark">
        <tr style="background-color: crimson">
         
          <th scope="col">Course Id</th>
          <th scope="col">Course Name</th>
          <th scope="col">Duration</th>
          <th scope="col">Status</th>
          <th scope="col">Fees</th>


        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
         
          <td>{{ user.mentorId }}</td>
          <td>{{ user.technology}}</td>
          <td>120 Hrs</td>
          <td>In Progress</td>
          <td>Paid</td>

        </tr>
        <tr>
         
          <td>10</td>
          <td>pHp</td>
          <td>120 Hrs</td>
          <td>Completed</td>
          <td>Pending</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>

</nav> 
